body{
    background-color: #d8b799;
}

main{
    background-color: white;
    width: 600px;
    text-align: center;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px rgb(39, 39, 39);
    border-radius: 15px;

   
}