@charset "UTF-8";

/*
#  = id
.  = class
:  = pseudo-class
:: = pseudo-element
>  = children (filho da classe)


ID usado para 1 elemento
CLASS usado para mais de 1 elementos
*/

body{
    
    background-color: #6FD69B;
    font-family: Arial, Helvetica, sans-serif;

}   

p{
    font-weight: 500;
}

#avan{
    color: rgb(0, 0, 0);
    
}

h1#principal{
    text-align: center;
    background-color: #0A6F36;
    color: rgba(255, 255, 255, 0.829);
}

.destacar{
    color: black;
    background-color: #17FF7C;
}

.basico{
    color: #17FF7C ;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}